* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 
    background-size: cover;
    color: white;
   height: 100vh; 
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 30px;
}

.contenedor {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    
}

span {
    font-family: Aquire;
    font-size: 4rem;
    text-align: center;
}

.contenido {
    
    width: 100px;
    height: 100px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

p{
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
} 

